.App {
  text-align: center;
}

form{
  background-color: coral;
  display: inline-block;
  padding: 20px;
}
form label{
  display: inline-block;
  width: 150px;
}
form div{
  margin: 20px;
}
.resultLbl{
  width: 500px;
}
span{
  width: 50px;
  display: inline-block;
  color: white;
}